<!DOCTYPE html>
{% load static %}  <!-- 要使用static文件夹下的静态资源, 必须在头部声明 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浏览者个人页面</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--  将 browserConsole里面的方法包含进来 -->
    <script src="{% static 'js/browserConsole.js'  type='text/javascript' charset='utf-8' %} "></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img alt="140x140" src="{{headPhoto}} "  class="img-circle" /><br/>
                <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#6f5499" size="3" />
                <ul class="list-group">
                    <li class="list-group-item">
                        <a role="button" onclick="changeHeadPhoto();" >更换头像</a>
                    </li>
                    <li class="list-group-item">
                        <a role="button" onclick="editPassword();"  >重置密码</a>
                    </li>
                    <li class="list-group-item">
                        <a role="button" onclick="editBrowserInfo();" >修改信息</a>
                    </li>
                    <li class="list-group-item">
                        <a role="button" onclick="editBrowserInfo();" >浏览记录</a>
                    </li>
                    <li class="list-group-item">
                        <a role="button" onclick="editBrowserInfo();" >我的评论</a>
                    </li>
                    <li class="list-group-item">
                        <a role="button" onclick="editBrowserInfo();" >注销账户</a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://127.0.0.1:8000/hello/1" >返回首页</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="col-md-12" style="height:500px;background-color:#ddd" >
			        <iframe src=""  id="iframe_editPassword"  height="100%" width="100%" class="mh-100 bg-warnin" style="background:url('{% static 'images/systemImg/bkBrowserConsole.gif' %}')"></iframe>
		        </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                    <li class="col-md-4">
                        <div class="thumbnail">
                            <img alt="300x200" src="{% static 'images/systemImg/1.jpg' %}" />
                            <div class="caption">
                                <h3>
                                    冯诺尔曼结构
                                </h3>
                                <p>
                                    也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="thumbnail">
                            <img alt="300x200" src="{% static 'images/systemImg/1.jpg' %}" />
                            <div class="caption">
                                <h3>
                                    哈佛结构
                                </h3>
                                <p>
                                    哈佛结构是一种将程序指令存储和数据存储分开的存储器结构，它的主要特点是将程序和数据存储在不同的存储空间中，进行独立编址。
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="thumbnail">
                            <img alt="300x200" src="{% static 'images/systemImg/1.jpg' %}" />
                            <div class="caption">
                                <h3>
                                    改进型哈佛结构
                                </h3>
                                <p>
                                    改进型的哈佛结构具有一条独立的地址总线和一条独立的数据总线，两条总线由程序存储器和数据存储器分时复用，使结构更紧凑。
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>