<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Clean Signle Page Template</title>
<style>@media print {#ghostery-purple-box {display:none !important}}</style></head>
<body style="background-color:#295ff5;color:#fff;font-family:Verdana;">
<div style="text-align:center;padding-top:100px;width:100%">
    <a href="http://mb.kaituozu.cn/moban1103/index-light.html" style="text-decoration:none;color:#fff;font-size:30px;font-weight:900;">我们是谁?</a>

    <br><br><br><br>
    <a href="http://mb.kaituozu.cn/moban1103/index-dark.html" style="text-decoration:none;color:#fff;font-size:30px;font-weight:900;">我们干什么?</a>
    <br><br><br><br>
   如果你有一颗热爱新闻的心! 喜欢旅游 , 喜欢看世界 , 关心国际 , 那么 , 欢迎加入我们的大家庭!

        <br>
         不论你是名校毕业还是业余爱好者 , 只要足够优秀 , 这里将成为你的沃土!
        <br><br>
        <a href="http://localhost:8000/hello/1" target="_blank" style="color:#000;text-decoration:none;">www.XinWen.com</a>

</div>



<!----></body></html>